:root {
    --color-principal: #114358;
    --color-primer-complementario: #f2aa1f;
    --color-segundo-complementario: #f1ece7;
    --color-oscuro: #090909;
    --color-claro: #ffffff;
}

.content {
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem; */
}