<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo">
      <h3>ApparkAzul</h3>
    </div>
    <div *ngIf="token !== null" class="profile">
      <div class="user-info">
        <img
          src="https://placekitten.com/100/100"
          alt="User Avatar"
          class="avatar"
        />
        <p class="user-name">Ingeniero Junior</p>
        <p class="user-email">ing.junior&#64;gmail.com</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item routerLink="/welcome">
        <mat-icon>home</mat-icon>
        <a>&nbsp;&nbsp;Inicio</a>
      </mat-list-item>
      <mat-list-item routerLink="/search/list">
        <mat-icon>search</mat-icon>
        <a>&nbsp;&nbsp;Buscar</a>
      </mat-list-item>
      <mat-list-item routerLink="/cards/CreditCard">
        <mat-icon>credit_card</mat-icon>
        <a>&nbsp;&nbsp;Mis tarjetas</a>
      </mat-list-item>
      <mat-list-item routerLink="/admin">
        <mat-icon>settings</mat-icon>
        <a [matMenuTriggerFor]="adminMenu">Administrar</a>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/admin/AdminZone">
            <mat-icon>place</mat-icon>
            Administrar Zonas
          </button>
          <button mat-menu-item routerLink="/admin/AdminArea">
            <mat-icon>business</mat-icon>
            Administrar Áreas
          </button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>public</mat-icon>
        <a routerLink="/search/map">Mapa</a>
      </mat-list-item>
      <div class="logout">
        <button mat-button (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
